<div class="homepage">
  <div id="intro">
    <div class="centered">
      <h1>PHOTO AID</h1>    
      <p>With your photos you can make the world a better place. Make a difference and join us!</p>
        <%= link_to "Register", new_user_registration_path, class: "btn btn-primary" %>

        <%= link_to "Sign In", new_user_session_path, class: "btn btn-secondary" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6" id="home_2_column">
      <img src="/images/donor-icon.png" alt="donor icon">
      <p>Donor, make a difference with your photos!</p>
    </div>
    <div class="col-md-6" id="home_2_column">
      <img src="/images/charity-icon.png" alt="charty icon">
      <p>Are you a charity? Register your campaign and receive donations and licensed photos from your supporters</p>
    </div>
  </div>

  <p id="about_us">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>

  <div class="row">
    <h4>Partners</h4>
    <div class="col-md-4" id="home_3_column">
      <img src="/images/amnesty_home_logo.jpg" alt="amnesty international logo" class="img-circle">
      <p>Amnesty</p>
    </div>
    <div class="col-md-4" id="home_3_column">
      <img src="/images/emergency_home_logo.jpg" alt="emergency uk logo" class="img-circle">
      <p>Emergency</p>    
    </div>
    <div class="col-md-4" id="home_3_column">
      <img src="/images/oxfam_home_logo.png" alt="oxfam logo" class="img-circle">
      <p>Oxfam</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4">
      About Us
    </div>
    <div class="col-md-4">
      <ul>
        <li>Support</li>
        <li>Terms</li>
        <li>Privacy</li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul>
        <li>Facebook</li>
        <li>Twitter</li>
        <li>Instagram</li>
        <li>Pinterest</li>
        <li>Google+</li>
      </ul>
    </div>
  </div>