<div class="homepage">
  <div id="intro">
    <h1>Photo Aid</h1>
    <p>With your photos you can make the world a better place. Make a difference and join us!</p>

    <button>
      <%= link_to "Register", new_user_registration_path %>
    </button>
    <button>
      <%= link_to "Sign In", new_user_session_path %>
    </button>
  </div>

  <div class="row">
    <div class="col-md-6">
      Donor, make a difference with your photos!
    </div>
    <div class="col-md-6">
      Are you a charity? Register your campaign and receive donations and licensed photos from your supporters
    </div>

    <p id="about_us">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <div class="row">
      <div class="col-md-4">
        Amnesty
      </div>
      <div class="col-md-4">
        Emergency
      </div>
      <div class="col-md-4">
        British Heart Fundation
      </div>
    </div>
  </div>
  <img src="">
  <div class="row">
    <div class="col-md-4">
      About Us
    </div>
    <div class="col-md-4">
      <ul>
        <li>Support</li>
        <li>Terms</li>
        <li>Privacy</li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul>
        <li>Facebook</li>
        <li>Twitter</li>
        <li>Instagram</li>
        <li>Pinterest</li>
        <li>Google+</li>
      </ul>
    </div>
  </div>
</div>


