<h1>Homepage</h1>
<p>This is the homepage and has to be seen only at the first access to the webiste.</p>

  <button>
    <%= link_to "Register", new_user_registration_path %>
  </button>
  <button>
    <%= link_to "Sign In", new_user_session_path %>
  </button>



