<div class="devise_forms">
  <h3>Editing Photo</h3>

  <%= render 'form', campaign: @campaign, photo: @photo %>

  <%= link_to 'Show', campaign_photo_path %> |
  <%= link_to 'Back', campaign_photos_path %>
</div>