<div class="devise_forms">
  <h3>Modify you Campaign</h3>

  <div id="edit-page">
    <%= render 'form', campaign: @campaign %>
    <%= link_to 'Show', @campaign %> |
    <%= link_to 'Back', campaigns_path %>
  </div>
</div>