// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#photopage {
 text-align: center;
 padding: 20px 0;
}

#photopage h4 {
  font-weight: 400;
  font-size: 1.4rem;
}

#photopage p {
  font-weight: 300;
  font-size: 1.1rem;
  letter-spacing: 0.8px;
}

#photopage img {
  max-width: 60%;
  margin: 5%;
  border:1px solid #021a40;
}
