// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homepage {
  text-align: center;
}

#intro {
  background-image: url(/images/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: Helvetica, Arial, sans-serif;
  color: #d4d4d4;
  height: 90vh;
  width: 100%;
  padding: 10em 0 0 0;
}

#home_2_column {
  padding: 2% 15%;
}

#home_2_column p {
  margin-top: 5%;
}

#about_us {
  padding: 2% 10%;
}

#home_3_column {
  height: 20vh;
}
