// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homepage {
  text-align: center;
}

#intro {
  background-image: url(./db/img/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: Helvetica, Arial, sans-serif;
  color: #d4d4d4;
  height: 90vh;
  width: 100%;
  padding: 5em 0 0 0;
}

.col-md-6 {
  height: 20vh;
}

.about_us {
  height: 20vh;
}

.col-md-4 {
  height: 20vh;
}
